@{
    ViewData["Title"] = "News";
}
@section forHeader {
    <p>News</p>
}

@section previous {
    <div class="fixed-previous"><a asp-controller="News" asp-action="News">Previous</a></div>
}

До 1 числа сдать все по ОТК
<style>
    .main-page {
        background-image: url(../BackgroundImage/concretenews1.png);
        height: calc(100vh - 28.67px );
        background-position-y: 50px;
    }
</style>
