@{
    ViewData["Title"] = "Home";
}

@section forHeader {
    <p>Home</p>
}

<p>Быстрые клавиши:</p>

<ul type="circle">
    <li>Главная: ALT+0</li>
    <li>Расписание: ALT+1</li>
    <li>Дедлайны: ALT+2</li>
    <li>Оценки: ALT+3</li>
    <li>Студенты: ALT+4</li>
    <li>Рейтинг: ALT+5</li>
    <li>Новости: ALT+6</li>
</ul>

