@model News

@{
    ViewData["Title"] = "News";
}
@section forHeader {
    <p>News @Model.Id</p>
}

@section previous {
    <div class="fixed-previous"><a asp-controller="News" asp-action="News">Previous</a></div>
}

<h2>@Model.NameArticle</h2>
<h4>@Model.Message</h4>